<div class="panel panel-default">
    <div class="panel-heading">This is home page</div>
    <div class="panel-body"><br> EffOne is a global IT consulting company with in-depth expertise in providing end-to-end solutions. EffOne is committed to providing quality solutions on time and within budget, while utilizing innovative technologies to build state-of-the-art solutions.

The EffOne team has over two decades of experience developing, implementing and maintaining robust, distributed, transaction intensive, highly scalable and high available solutions.</div>
</div>
