<div class="panel panel-default">
    <div class="panel-heading">To fill your timesheet click below button</div>
    <div class="panel-body">
 <button class="btn btn-info">
  <%= link_to "Enter New Timesheet", timesheets_index_path %>
</button>
  </div>
</div>
