<h1>Editing Timesheet</h1>

<%= render 'form' %>

<button class="btn btn-info"><%= link_to 'Show', @timesheet %></button>  |
<button class="btn btn-primary"><%= link_to 'Back', timesheets_path %></button>
