<!DOCTYPE html>
<html>
<head>
  <title>ETimesheet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p> this is the first file</p>
	<p>this is added</p>
	<p> i add one more paragraph</p>

<%= yield %>

</body>
</html>
